//@color_bg: black;
@color_bg: #333;
@color_fg: white;

@fondo-oscurito:  fade(@color_bg, 75%);

.rounded-corners (@radius: 8px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.rounded-corners-but-top-left {
    .rounded-corners(0 8px 8px 8px);
}

.fondo-oscurito {
    .rounded-corners;

    background-color: @fondo-oscurito;
    color: @color_fg;
    margin: 0;
    padding: 20px;
}

#content {
    .fondo-oscurito;
    .rounded-corners-but-top-left;
    padding: 10px;
    clear: both;

    margin-bottom: 10px;
}

article {
    .fondo-oscurito;
}

a {
    &:hover {
        color: @color_fg;
        text-decoration: none;
        background-color: transparent;
    }
}

.widget {
    margin: 0;
    a {
        &:hover {
            background-color: transparent;
        }
    }
}

.pager li > a:hover {
    color: @color_bg;
}

header {
    hgroup {
        height: 221px;
        background-image: url("images/cabecera.png");
        background-repeat: no-repeat;
        background-position: center center;
        h1, h2, p {
            display: none;
        }
    }
}

.titulo {
    .fondo-oscurito;

    float: left;
    border-radius: 25px 25px 0px 0px;
    padding: 0 20px;

    h3 {
        margin: 0;
    }
}

.titulo-blog {
    .titulo;
}

.tweets {
    float: left;
    color: @color_fg;
    h3 {
        .titulo;
    }

    ul {
        .fondo-oscurito;
        .rounded-corners-but-top-left;

        padding-top: 10px;
        list-style: none;
        //width: 100%;
        float: left;
        margin-bottom: 1.5em;

        li {
            margin-bottom: 15px;
            border-bottom: 1px solid white;
            float: left;

            span {
                float: left;
            }

            .date {
                font-size: xx-small;
            }
        }
    }
}

footer.entry-meta {
    background-color: #ccc; //fade(@color_fg, 80%);
    border: 0;
    padding: 0;
}

#footer-container {
    .fondo-oscurito;

    margin-bottom: 20px;

    ul {
        list-style: none;

        li {
            margin: 5px;
        }
    }

    a {
        margin: 0;
        padding: 0;
    }

    .icons {
        float: right;
        width: 90px;
    }
}

aside { 
    .tweets;
    margin-bottom: 0;
}

.widget_categories {
    ul {
        width: 82%;

        li {
            border: none;
            float: none;
        }
    }
}

.widget_recent_entries {
    ul {
        //width: 100%;

        li {
            border: none;
            float: none;
            //padding: 0 40px 0 0;
        }
    }
}

.entry-title {
    color: #f5f5f5
}

.entry-content {
    a {
        border: none;
    }
    .thumbnail {
        img {
            width: 95%;
            border: none;
        }
    }
}