.rounded-corners-but-top-left {
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px 8px;
  -ms-border-radius: 0 8px 8px 8px;
  -o-border-radius: 0 8px 8px 8px;
  border-radius: 0 8px 8px 8px;
}
.fondo-oscurito {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
}
#content {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px 8px;
  -ms-border-radius: 0 8px 8px 8px;
  -o-border-radius: 0 8px 8px 8px;
  border-radius: 0 8px 8px 8px;
  padding: 10px;
  clear: both;
  margin-bottom: 10px;
}
article {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.widget {
  margin: 0;
}
.widget a:hover {
  background-color: transparent;
}
.pager li > a:hover {
  color: #333333;
}
header hgroup {
  height: 221px;
  background-image: url("images/cabecera.png");
  background-repeat: no-repeat;
  background-position: center center;
}
header hgroup h1,
header hgroup h2,
header hgroup p {
  display: none;
}
.titulo {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  float: left;
  border-radius: 25px 25px 0px 0px;
  padding: 0 20px;
}
.titulo h3 {
  margin: 0;
}
.titulo-blog {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  float: left;
  border-radius: 25px 25px 0px 0px;
  padding: 0 20px;
}
.titulo-blog h3 {
  margin: 0;
}
.tweets {
  float: left;
  color: #ffffff;
}
.tweets h3 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  float: left;
  border-radius: 25px 25px 0px 0px;
  padding: 0 20px;
}
.tweets h3 h3 {
  margin: 0;
}
.tweets ul {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px 8px;
  -ms-border-radius: 0 8px 8px 8px;
  -o-border-radius: 0 8px 8px 8px;
  border-radius: 0 8px 8px 8px;
  padding-top: 10px;
  list-style: none;
  float: left;
  margin-bottom: 1.5em;
}
.tweets ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  float: left;
}
.tweets ul li span {
  float: left;
}
.tweets ul li .date {
  font-size: xx-small;
}
footer.entry-meta {
  background-color: #ccc;
  border: 0;
  padding: 0;
}
#footer-container {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
}
#footer-container ul {
  list-style: none;
}
#footer-container ul li {
  margin: 5px;
}
#footer-container a {
  margin: 0;
  padding: 0;
}
#footer-container .icons {
  float: right;
  width: 90px;
}
aside {
  float: left;
  color: #ffffff;
  margin-bottom: 0;
}
aside h3 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  float: left;
  border-radius: 25px 25px 0px 0px;
  padding: 0 20px;
}
aside h3 h3 {
  margin: 0;
}
aside ul {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.75);
  color: #ffffff;
  margin: 0;
  padding: 20px;
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px 8px;
  -ms-border-radius: 0 8px 8px 8px;
  -o-border-radius: 0 8px 8px 8px;
  border-radius: 0 8px 8px 8px;
  padding-top: 10px;
  list-style: none;
  float: left;
  margin-bottom: 1.5em;
}
aside ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  float: left;
}
aside ul li span {
  float: left;
}
aside ul li .date {
  font-size: xx-small;
}
.widget_categories ul {
  width: 82%;
}
.widget_categories ul li {
  border: none;
  float: none;
}
.widget_recent_entries ul li {
  border: none;
  float: none;
}
.entry-title {
  color: #f5f5f5;
}
.entry-content a {
  border: none;
}
.entry-content .thumbnail img {
  width: 95%;
  border: none;
}
