.fondo_oscurito {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
article {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.tweets {
  color: #ffffff;
}
.tweets h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 0;
}
.tweets ul {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 20px;
}
