@color_bg: black;
@color_fg: white;

@fondo_oscurito:  fade(@color_bg, 50%);

.fondo_oscurito {
    background-color: @fondo_oscurito;
    color: @color_fg;
    margin: 0;
    padding: 20px;
}

article {
    .fondo_oscurito;
}

header {
    hgroup {
        height: 221px;
        background-image: url("images/cabecera.png");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.tweets {
    float: left;
    color: @color_fg;
    h3 {
        .fondo_oscurito;

        padding: 0 20px;
    }

    ul {
        .fondo_oscurito;

        list-style: none;
        //width: 100%;
        float: left;

        li {
            margin-bottom: 5px;

            span {
                width: 100%;
                float: left;
            }
        }
    }
}